#simple-tabpanel-0 > div > div > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-5.css-k3f0g4-MuiGrid-root > div > div > label,
#simple-tabpanel-0 > div > div > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-5.css-k3f0g4-MuiGrid-root > div > div > label,
#simple-tabpanel-0 > div > div > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-5.css-k3f0g4-MuiGrid-root > div > div > label,
#simple-tabpanel-0 > div > div > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-5.css-k3f0g4-MuiGrid-root > div > div > label
{
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    width: max-content;
    padding: 10px;
}
