.allaitement
{
    margin-left: 10%;
}
.allaitementdata
 {
    max-width: 55vw;
 }
 .periode
{
    text-align: start;
}
#root > div > main > div.MuiBox-root.css-f4e34s > form > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-7.css-uqwprf-MuiGrid-root > div > div > div:nth-child(1) > div > div
{
    min-width: 7vw;
}