#simple-tabpanel-0 > div > div > div > div:nth-child(2) > div > div > label.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd.css-j204z7-MuiFormControlLabel-root
{
    flex-direction: row-reverse;
    justify-content: start;
    gap: 15px;
    margin-left: 3px;
    padding: 5px;
}
#demo-simple-select-label 
{
    display: flex;
}